*{
	
	box-sizing:border-box;
	font-family: 'Nunito', sans-serif;
}

.logo{
	/*position:fixed;*/
	
}

.cname{
	
	/*border-style:solid;*/
	height:100px;
	text-align:center;
	padding-top:15px;
	font-weight:bold;
	font-size:50px;
	/*background-color:#F77196;*/
	background-color:#080808;
	
	color:white;
	/*color:#F86A3D;*/
	
	/*position:fixed;*/
}


.menu{
	
	/*border-style:solid;*/
	height:50px;
	text-align:center;
	padding-top:12px;
	/*background-color:#F64574;*/
	background-color:#080808;
	border-radius:5px;
	
}

.navbar{
	
	/*position:fixed;*/
	/*top:200px;
	left:200px;*/
	
	
}

.menu:hover{
	
	background-color:#F86A3D;
	transform:scale(1.1);
}



.menu a{
	
	color:white;
	text-decoration:none;
	font-weight:bold;
	font-size:20px;
	display:block;
}

.banner{
	
	/*border-style:solid;*/
	background-image:url(../photos/banner.jpg);
	height:400px;
	background-repeat:no-repeat;
	background-size:cover;
	/*margin-top:180px;*/
	/*background-attachment:fixed;*/
	margin-top:6px;
}

.Anotherbanner{
	border-style:soild;
	background-image:url(../photos/banner-shop.png);
	height:150px;
	background-repeat:no-repeat;
	background-size:cover;
	margin-top:6px;
	
}

.productbanner{
	background-image:url(../photos/productbanner.jpg);
	height:290px;
	background-repeat:no-repeat;
	background-size:cover;
	/*margin-top:180px;*/
	margin-top:6px;
	
}



.aboutusbanner{
	
	/*border-style:solid;*/
	background-image:url(../photos/Growcer_MainImage.jpg);
	height:400px;
	background-repeat:no-repeat;
	background-size:cover;
	margin-top:6px;
	/*background-attachment:fixed;*/
}



.outer{
	
	/*border-style:solid;
	border-width:1px;*/
	margin-top:6px;
	height:300px;
	box-shadow:0px 0px 5px 10px #EDEFED;
	border-radius:5px;
	padding-left:5px;
	
}

#btn{
	
	border-width:0px;
	/*background-color:#7FDA70;*/
	background-color:#080808;
	color:white;
	font-weight:bold;
	margin-bottom:5px;
}

#tbtn{
	
	border-width:0px;
	/*background-color:#7FDA70;*/
	background-color:#080808;
	color:white;
	font-weight:bold;
	width:100%;
	height:30px;
	border-radius:8px;
}

.inner1{
	
	/*border-style:solid;*/
	margin-top:1px;
	margin-left:35px;
}

.inner2{
	
	/*border-style:solid;*/
	margin-top:1px;
}

.outer a{
	
	text-decoration:none;
	color:white;
}

.first{
	
	margin-left:110px;
	border-style:solid;
	border-width:1px;
	height:230px;
	transition:transform 3s;
}

.first:hover{
	
	transform:scale(1.1);
}

.second{
	
	
	border-style:solid;
	border-width:1px;
	height:230px;
	transition:transform 3s;
}

.second:hover{
	
	transform:scale(1.1);
}

.third{
	
	
	border-style:solid;
	border-width:1px;
	height:230px;
	transition:transform 3s;
}

.third:hover{
	
	transform:scale(1.1);
}

.footer{
	
	/*background-color:#F77196;*/
	background-color:#080808;
	color:white;
	/*text-align:center;*/
	/*font-size:20px;*/
}

.Copyright{
	
	text-align:left;
}

.footerlogo img {
    width: 40px;
    height: 40px;
	margin-right:0px;
    
	
}



.address img{
	
	margin-top:18px;
	width:40px;
	height:40px;
	border-radius:20px;
}

.follow_us img{
	
	margin-top:25px;
	width:40px;
	height:40px;
	border-radius:20px;
	
	
}







.framee{
	margin-top:6px;
}

.Contact{
	
	display:block;
	height:50px;
	text-align:center;
	padding-top:7px;
	font-weight:bold;
	font-size:15px;
	/*background-color:#F77196;*/
	background-color:#080808;
	color:white;
	/*margin-top:180px;*/
	margin-top:6px;
	
}

.Contact:hover{
	
	background-color:#F86A3D;
}




.formm{
	margin-top:6px;
	font-weight:bold;
	font-size:20;
	/*color:white;
	background-color:#F77196;*/
	
}

.AB{
	margin-top:6px;
	/*margin-top:180px;*/
	display:block;
	height:50px;
	text-align:center;
	padding-top:12px;
	font-weight:bold;
	font-size:15px;
	/*background-color:#F77196;*/
	background-color:#080808;
	color:white;
	
}

.AB:hover{
	
	background-color:#F86A3D;
}






.Mission{
	margin-top:6px;
	display:block;
	
	text-align:center;
	padding-top:12px;
	font-weight:bold;
	font-size:20px;
	/*background-color:#F77196;*/
	background-color:#080808;
	color:white;
	
}

#p{
	font-family:italic;
	font-size:15px;
	color:#F86A3D;
	
}


input[type="submit"]{
	
	border-width:0px;
	/*background-color:#7FDA70;*/
	background-color:#080808;
	color:white;
	font-weight:bold;
	width:100%;
	height:30px;
	border-radius:8px;
	
}

input[type="submit"]:hover{
	
	background-color:#F86A3D;
	
}

.what img{
	
	width:40px;
	height:40px;
	right:17%;
	bottom:18%;
	position:fixed;
	border-radius:20px;
	
	
}


.what img:hover{
	
	transform:scale(1.4);
}

.call img{
	
	width:40px;
	height:40px;
	right:17%;
	bottom:11%;
	position:fixed;
	border-radius:20px;
	
} 

.call img:hover{
	
	transform:scale(1.4);
}




